
*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fotosopa{
    align-items: center;
}
nav {
    background-color: rgb(255, 178, 77);
    height:fit-content;
    width: 100%;
    color: beige;
    text-align: center;
    position: fixed;
}


h1 {
    text-align: center;

}
#navegador li{
    display: inline-block;
    background-color: black;
    width: auto;
    height: 30px;
    background-color: rgb(148, 161, 161); 
}

footer {

    text-align: center;  
    background-color: black;
    color: gray;
 /*   height: 20%; */
    width: 100%;
    margin-top: 0%;
    position: fixed;
    left: 0%;
    bottom: 0%;

}


body {
    background-color: rgb(233, 227, 227);
}

.fa-brands {
    color: white;

}

.iframeLocation {
    /*display: inline-block;*/
    display: inline-block;
    justify-content:space-around;

}
